@font-face {
    font-family: 'Karla-Regular';
    src: url('./assets/fonts/static/Karla-Regular.ttf') format('truetype'),
}  

@font-face {
    font-family: 'Karla-Bold';
    src: url('./assets/fonts/static/Karla-Bold.ttf') format('truetype'),
}  
